<div class="container about">
    <h3>About TV Pop</h3>
    <p>TV Pop is a discovery application. Here you can discover new TV shows to watch. You will see every premiere of new shows or new seasons for the next week. You can find specific shows by using the search feature. There is also a genre filter and you can order by air date and rating. Discover new shows or check times for a new season you can't wait to see. Enjoy!</p>
    <h3>More Information</h3>
    <p>TV Pop's data is generously provided by the <a href="http://trakt.tv">trakt.tv</a> API. Upon visiting, every premiere for the next week will load for users to search through as they will. The site itself uses bootstrap framework and works on all modern browsers and mobile devices with resolutions above 320x240 pixels. TV Pop also uses two JavaScript frameworks; jQuery and AngularJS.</p>
    <h3>Terms &#38; Policies</h3>
    <p>TV Pop was developed for educational purposes and is open source. All are encouraged to check out the TV Pop project at <a href="https://github.com/tylerbisset/MDD-App">GitHub</a>. Feel free to contribute! For support information contact tylerbisset@fullsail.edu.</p>
</div>
    